.card {
    border: 1px solid black;
    width: 450px;
}

h1, h2, h3, p {
   padding-left: 20px;
   padding-right: 20px;
}
h2::before {
    content: "⭐ ";
}
.card h2 {
    color: rgb(251, 146, 17);
}
.card h3 {
    color: rgb(47, 255, 61);
}