body {
    font-family: cursive;
    background-color:#f3f6fb ;
}
.card {
    width: 400px;
    border-radius: 10px;
    text-align: left;
    box-shadow: 0 8px 16px rgba(0,0,0,0.12);
}
.card-header {
    border-radius: 10px 10px 0 0;
    background-color:#3bffef ;
    padding: 10px;
    text-align: center;
    position: relative;
}
.badge-hot {
    position: absolute;
    top: 10px;
    right: 10px;
    background-color: red;
    border-radius: 999px;
    padding: 2px;
    font-size: 16px;
}
.card-body p {
    padding-left: 10px;
    border-bottom: 1px solid #ccc;
}
.card-body p:last-child {
    border-bottom: none;
    padding-bottom: 100px;
}
.text {
    color: rgb(124, 249, 35);
}
.btn {
    margin: 0 18px 18px;                   
  width: calc(100% - 36px);            
  padding: 10px 0;                       
  border: none;                          
  border-radius: 20px;                    
  background: #00cfff;                  
  color: #fff;                            
  font-weight: 700;                       
}