body {
    background-color: rgb(235, 238, 243);
}
.card {
    border-radius: 10px;
    background-color: white;
    padding: 20px;
    width: 500px;
}
.status {
    position: absolute;
    top: 55px;
    right: 260px;
    background-color: rgb(255, 226, 179);
    border-radius: 20px;
    padding: 5px 10px;
    color: rgb(191, 121, 18);
}
.bar {
    margin-top: 10px;
    width: 100%;
    height: 8px;
    background: #e5e7eb;
    border-radius: 999px;
    overflow: hidden;
    margin-bottom: 14px;
}

.fill {
    width: 70%;
    height: 100%;
    background: #16a34a;
    border-radius: inherit;
}
.date {
    opacity: 0.3;
}

