.header {
    display: flex;
    gap :15%;
    align-items: center;
    justify-content: center;
    border: 1px solid black;
}
.menu a {
    text-decoration: none;
    color: black;
    font-weight: bold;
    padding: 10px 15px;
}
.header h1 {
    background: linear-gradient(90deg, #3b82f6, #8b5cf6);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}
.header button {
    color: white;
    background-color: #0d6efd;
    padding: 5px;
    border-radius: 10px;
}
@media (max-width: 768px) {
    body {
        width: 100%;
    }
}