*{
    margin:0;
    padding:0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

body{
    text-align: center;
}

.box-menu{
    display:flex;
    justify-content: center;
    align-items: center;
    gap:40px;
}

.box{
    border:1px solid transparent;
    border-radius: 15px;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
    padding:20px;
    width:150px;
    height:200px;
}

.icon{
    font-size:50px;
    margin-bottom: 20px;
}

h3{
    font-size: x-large;
    color:#6568f1;
    margin-bottom: 10px;
}

.name{
    opacity:0.6;
}

@media (max-width:768px) {
    .box-menu{
        display:flex;
        flex-direction: column;
        align-items: center;
    }

    .box{
        width:90%;
    }
}