* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

body {
    background-color: #f5f7fb;
    display: flex;
    justify-content: center;
    align-items: center;
}

.login {
    width: 100%;
    padding: 20px;
}

.login-form {
    max-width: 600px;
    height:auto;
    margin: 0 auto;
    background: white;
    padding: 30px 25px;
    border-radius: 10px;
    box-shadow: 0 8px 20px rgba(0, 0, 0, 0.08);
}

.login-form h1 {
    text-align: center;
    margin-bottom: 10px;
    font-size: 25px;
}

.title {
    text-align: center;
    font-size: 14px;
    color: grey;
    margin-bottom: 25px;
}

.infor {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.infor label {
    display: block;
    font-size: 15px;
    margin-bottom: 5px;
    color: black;
}

.infor input {
    width: 100%;
    padding: 11px 12px;
    border: 1px solid #ddd;
    border-radius: 5px;
    font-size: 15px;
}

.form-group{
    display:flex;
    justify-content: space-between;
    padding:15px 5px;
}

.form-group button{
    background-color: white;
    border:none;
    color:#1f7dfd;
    font-weight: bold;
}

.lgi button{
    width:100%;
    padding:5px;
    border-radius: 5px;
    border:none;
    color:white;
    background-color: #1f7dfd;
    margin-bottom: 15px;
}

.login-text{
    text-align: center;
    font-size: 14px;
}

.login-text a{
    text-decoration: none;
}
