* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    background-color: #f5f5f5; 
    color: #333;
}


.header {
    background-color: #222; 
    color: white;
    padding: 20px 8%;
    display: flex;
    justify-content: space-between; 
    align-items: center;
}

.logo {
    font-size: 24px;
    font-weight: bold;
    color: #f1c40f; 
}

.nav a {
    color: white;
    text-decoration: none;
    margin-left: 20px;
    font-size: 14px;
}

.nav a:hover {
    color: #f1c40f;
}

.wrapper {
    width: 100%;
}

.grid {
    display: flex;
    flex-wrap: wrap; 
    justify-content: center;
    padding: 50px 5%;
    gap: 30px;
    background-color: #fdf8f0; 
}


.card {
    background-color: white;
    width: 350px; 
    border-radius: 20px; 
    overflow: hidden; 
    box-shadow: 0 10px 30px rgba(0,0,0,0.1); 
    transition: transform 0.3s ease; 
}

.card:hover {
    transform: translateY(-10px);
}

.overlay {
    padding: 25px; 
    display: flex;
    flex-direction: column;
    /*căn theo cột*/
}

.TieuDe {
    display: block;
    font-size: 22px;
    font-weight: bold;
    color: #d4a373; 
    margin-bottom: 15px;
}

.overlay p {
    font-size: 14px;
    line-height: 1.6;
    color: #666;
    text-align: justify;
    margin-bottom: 20px;
}


.card img {
    width: 100%;    
    height: 220px;   
    border-radius: 20px; 
    display: block;
}

.footer {
    background-color: #222;
    color: #888;
    padding: 30px 8%;
    display: flex;
    justify-content: space-between;
    font-size: 13px;
}

.nav2 a {
    color: #888;
    text-decoration: none;
    margin-left: 15px;
}

.nav2 a:hover {
    color: white;
}